@model List<Message>
<div class="row">
    <div class="col col-sm-12">
        <partial name="Message.cshtml"></partial>
    </div>
</div>
@* <div class="row">
    <div class="col col-sm-12">
        @foreach (var m in Model)
        {
            <p>@m.Creator commented at @m.CreatedAt</p>
            <p>@m.Content</p>
        }
    </div>
</div> *@
