<div class="jumbotron">
    <h1><a href="/user/@ViewBag.getOne.UserId">@ViewBag.getOne.FirstName @ViewBag.getOne.LastName</a></h1>
    <a href="/dashboard" style="display: block;">Home</a>
    <a href="/logout" style="display: block;">Logout</a>
</div>
<h1>Friends</h1>
<h1>Friends Number: @ViewBag.getOne.Friend.Count</h1>