<div class="jumbotron">
    <h1><a href="/user/@ViewBag.getUSer.UserId">@ViewBag.getUser.FirstName @ViewBag.getUser.LastName</a></h1>
    <a href="/dashboard" style="display: block;">Home</a>
    <a href="/logout" style="display: block;">Logout</a>
</div>
<div class="form-group col-sm-4">
    <partial name="AddPhoto.cshtml"></partial>
    <partial name="Photos.cshtml"></partial>
</div>
